<div class="show-user-tab">
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#demands" id="demands-tab" role="tab" data-toggle="tab" aria-controls="demands" aria-expanded="true">Recently demands</a></li>

    <li role="presentation" class=""><a href="#applied" role="tab" id="applied-tab" data-toggle="tab" aria-controls="applied" aria-expanded="false">Applied demands</a></li>

    <li role="presentation" class=""><a href="#exper" role="tab" id="exper-tab" data-toggle="tab" aria-controls="exper" aria-expanded="false">Experienced languages</a></li>
  </ul>
</div>