<div class="user-header">
  <%= gravatar_for @user, size: 134, class: 'user-avatar' %>
  <h2><%= display_username @user %></h2>

  <div class="container">
    <%= render 'nav' %>
  </div>
</div>

<div class="container">
  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Recently demands</h3>
      </div>
      <div class="panel-body">
        Recently demands
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Applied demands</h3>
      </div>
      <div class="panel-body">
        Applied demands
      </div>
    </div>
  </div>
</div>