<div class="user-header">
  <%= gravatar_for @user, size: 134, class: 'user-avatar' %>
  <h2><%= display_username @user %></h2>

  <div class="container">
    <%= render 'nav' %>
  </div>
</div>

<div class="container">
  <%= render @user.profile %>
</div>