<!-- TODO: revised -->
<div class="pull-right">
  <% if logged_in? %>
    <% if current_user.already_apply_for?(@demand) %>
      <%= link_to 'Applied', '#', class: 'btn btn-success disabled' %>
    <% end %>
    <% unless current_user.is_author_of?(@demand) || current_user.already_apply_for?(@demand) %>
      <%= link_to 'Apply', apply_form_demand_path(@demand), class: 'btn btn-success' %>
    <% end %>
  <% else %>
    <%= link_to 'Apply', apply_form_demand_path(@demand), class: 'btn btn-success' %>
  <% end %>
</div>