<div class="show-demand-tab">
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#schedule" id="schedule-tab" role="tab" data-toggle="tab" aria-controls="schedule" aria-expanded="true">Expected schedule</a></li>

    <li role="presentation" class=""><a href="#applicants" role="tab" id="applicants-tab" data-toggle="tab" aria-controls="applicants" aria-expanded="false">Applicants</a></li>

    <li role="presentation" class=""><a href="#info" role="tab" id="info-tab" data-toggle="tab" aria-controls="info" aria-expanded="false">Extra information</a></li>
  </ul>
</div>